huggingface-hub==0.24.7
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17
numpy==1.24.2
opencv-python-headless==4.8.1.78
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyQt5-stubs==5.15.6.0
qt-material==2.14
yolov5==7.0.11
pyqtdarktheme==2.1.0
